Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

Redirect /plan https://docs.google.com/document/d/1KZJJWKr5qJSMoZ2Tupko4uhVKHfj8YF8yAMXaoxprM0/edit
